/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin-700.woff') format('woff'); /* Modern Browsers */
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Modern Browsers */
  }
  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
.container {
    max-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 15px;
}
header {
    min-height: 540px;
    background: url(../IMG/BGmobile.png) no-repeat;
}
.menu {
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}
.menu_item {
    width: 90px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}
.menu_link {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.sign_button {
    border: 2px #ffffff solid;
    border-radius: 20px;
}
.logo {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin: 0 0 40px;
    padding-top: 90px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: block;
}
.title {
    color: #ffffff;
    text-align: center;
    margin: 0 0 26px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.07em;
}
.text_after_title {
    color: #ffffff;
    text-align: center;
    margin: 0 0 20px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.main_button {
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 280px;
    padding: 14px;
    text-align: center;
    border-radius: 23px;
    box-sizing: border-box;
    cursor: pointer;
    background: rgb(255, 78, 80);
    border: none;
}
.partners {
    padding: 70px 0 60px;
}
.section_title {
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin: 0 0 18px;
}
.card {
    width: 230px;
    margin: 0 auto 30px;
}
.photo {
    width: 120px;
    height: 120px;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0 auto 20px;
    position: relative;
}
.photo1 {
    background-image: url(../IMG/photo1.png);
}
.photo2 {
    background-image: url(../IMG/photo2.png);
}
.photo3 {
    background-image: url(../IMG/photo3.png);
}
.photo4 {
    background-image: url(../IMG/photo4.png);
}
.photo::after {
    content: '';
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ffffff;
    bottom: 0;
    right: 0;
}
.photo1::after {
    background-color: #ff4e50;
    background-image: url(../IMG/icon1.png);
}
.photo2::after {
    background-color: rgb(255, 165, 7);
    background-image: url(../IMG/icon2.png);
}
.photo3::after {
    background-color: rgb(28, 215, 173);
    background-image: url(../IMG/icon3.png);
}
.photo4::after {
    background-color: rgb(78, 115, 219);
    background-image: url(../IMG/icon4.png);
}
.name {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin: 0 0 20px;
}
.description {
    margin: 0;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.button_more {
    color: #ff4e50;
    border: 2px solid #ff4e50;
    background: #ffffff;
}