.page-header{
    margin: 0 auto;
    padding: 0;
}
.menu {
    margin: 0 auto;
    padding: 71px 0 98px 165px;
    font-family: 'Playfair Display', serif;
}
.menu-item {
    display: inline-block;
    margin-right: 100px;
}
.menu-item:first-child {
    margin-right: 120px;
}
.menu-item:last-child {
    margin-right: 0px;
}
.menu-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: rgb(98, 98, 98);
}
.menu-link:hover,.menu-link:focus {
    color: rgb(37, 180, 245);

}
.wrapper {
    margin: 0 auto;
    width: 900px;
    font-size: 0px;
}
.container {
display: inline-block;
width: 420px;
margin: 0 60px 130px 0;
padding: 0;
font-family: 'Playfair Display', serif;
}
.container:nth-child(2n) {
    margin-right: 0px;
}
.container-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 28px;
}
.image-category {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: rgb(199, 193, 182);
    margin-top: 0px;
    margin-bottom: 25px;
}
h2 {
    color: rgb(98, 98, 98);
    font-size: 30px;
    line-height: 36px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.content-text {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
.container:last-child(2n) {
    margin-bottom: 0px;
}
.button {
    font-size: 20px;
    line-height: 24px;
    color: #626262;
}