.nav-container {
    width: 1200px;
    min-height: 72px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.nav-logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    color: rgb(149, 225, 211);
}
.site-navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation-item {
    width: 100px;
    text-align: center;
}
.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: rgb(149, 225, 211);
    position: relative;
}
.nav-link:hover, .nav-link:focus {
    transition-duration: 0.2s;
    transition-timing-function: linear;
    color: rgb(243, 129, 129);
}
.nav-link::after {
    content: '';
    background: rgb(243, 129, 129);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.navigation-item:hover .nav-link::after {
    transition-duration: 0.2s;
    transition-timing-function: linear;
    opacity: 1;
}
.headline {
    text-align: center;
    position: relative;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 110px 0;
}
.headline span {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;

}
.headline::after {
    content: '';
    background: rgb(243, 129, 129);
    height: 3px;
    width: 60px;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%, -50%);
}
.features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.features {
    list-style-type: none;
    width: 382px;
    display: flex;
    margin-bottom: 96px;
}
.features:nth-child(n+4) {
    margin-bottom: 0;
}
.features img {
    padding-right: 28px;
    flex: none;
    width: 36px;
    height: 36px;
}
.features-text {
    flex: auto;
}
.features h3{
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
    margin: 0 0 20px 0;
}
.features p {
    margin: 0;
    font-size: 15px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
}
.section_text {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
}
.our_team {
    display: flex;
    justify-content: space-between;
}
.team_card{
    width: 380px;
    cursor: pointer;
}
.team_card h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    text-align: center;
}
.team_card p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #999999;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}
.photo{
    display: block;
}
.img-gradient{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.img-gradient::after {
    content:'';
    position:absolute;
    left:0; top:0;
    width: 380px;
    height: 0;
    background: linear-gradient(to bottom,  rgb(243, 129, 129, 0.8) 0%,rgba(252, 227, 138, 0.8) 100%);
}
.img-gradient:hover::after {
    height: 470px;
}
.img-gradient:hover {
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transform: translate( -10px, -10px);
    box-shadow: 10px 10px rgb(149, 225, 211);
}
.img-gradient:hover .team-socials {
    opacity: 1;
}
.facebook {
    background: url(../IMG/facebook.png);
}
.instagram{
    background: url(../IMG/instagram.png);
}
.pinterest {
    background: url(../IMG/pinterst.png);
}
.twitter {
    background: url(../IMG/twitter.png);
}
.social_link {
    width: 56px;
    height: 56px;
    background-color: rgba(252, 227, 138);
    display: flex;
}
.social_link:hover {
    background-color: rgba(149, 225, 211);
}
.team-socials {
    position: absolute;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 230px;
    align-content: center;
    z-index: 1;
    opacity: 0;
}