img {
    display: block;
}
.socials {
    margin: 0;
    padding: 0;
    width: 230px;
    height: 60px;
    opacity: 0;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: 210px;
    z-index: 1;
}
.social__link {
    display: inline-block;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    margin-right: 2px;
    text-align: center;
}
.social__icon {
    fill: rgb(243, 129, 129);
    display: inline-block;
    width: 26px;
    height: 26px;
    padding: 15px;
}
.social__link:last-child {
    margin-right: 0;
}
.social__link:hover .social__icon {
    fill: #ffffff;
}
.social__link:hover {
    background-color: rgb(243, 129, 129);
}
main {
    padding: 90px 0;
}
footer {
    padding: 12px 0 12px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    border-top: #cccccc 1px solid;
    align-items: center;
}
.footer__copyright {
    margin: 0;
    letter-spacing: -0.07em;
}
.footer__autor{
    color: #f38181;
}

.subscribe-email {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    color: #cccccc;
    vertical-align: middle;
    width: 230px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding: 0 12px;
    min-height: 40px;
}
.subscribe-button {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
    background-color: rgb(149, 225, 211);
    border: none;
    width: 150px;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    min-height: 40px;
}
// @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
//     header {
//         background: -webkit-gradient(linear,  left top, left bottom,  from(rgba(218, 161, 161, 0.8)),to(rgba(252, 227, 138, 0.8))), url(../IMG/banner@2x.png);
//         background: -webkit-linear-gradient(top,  rgba(218, 161, 161, 0.8) 0%,rgba(252, 227, 138, 0.8) 100%), url(../IMG/banner@2x.png);
//         background: -o-linear-gradient(top,  rgba(218, 161, 161, 0.8) 0%,rgba(252, 227, 138, 0.8) 100%), url(../IMG/banner@2x.png);
//         background: linear-gradient(to bottom,  rgba(218, 161, 161, 0.8) 0%,rgba(252, 227, 138, 0.8) 100%), url(../IMG/banner@2x.png);
//         background-position: center;
//     }
//   }
//   @media (max-width: 1212px) {
//       nav, .nav-menu, .menu {
//           -ms-flex-wrap: wrap;
//               flex-wrap: wrap;
//         }
//         nav {
//             margin-bottom: 60px;
//         }
//         .main-nav {
//             margin-bottom: 16px;
//         }
//       .team-galery {
//           -webkit-box-orient: vertical;
//           -webkit-box-direction: normal;
//               -ms-flex-direction: column;
//                   flex-direction: column;
//           -webkit-box-align: center;
//               -ms-flex-align: center;
//                   align-items: center;
//       }
//       .team-galery__card-occupation {
//           padding-bottom: 20px;
//       }
//       .header__subtitle {
//         font-size:36px;
//         margin:0 0 34px;
//     }
//     .header__title {
//         font-size: 48px;
//         margin: 0 auto 60px;
//     }
//     header {
//         padding-bottom: 60px
//     }
//   }
//   @media (max-width: 764px) {
//     nav, .nav-menu, .menu {
//         justify-content: center;
//     }
//     .logo {
//         margin-bottom: 16px;}
//       .features-list {
//           min-height: 500px;
//       }
//     .nav-menu__item {  
//         padding-bottom: 12px;
//     }
//     .site-navigation__link {
//         font-size: 18px;
//     }
//     .nav-menu__item:hover .site-navigation__link::after {
//         display: none;
//     }
//     .team-galery__card-photo:hover {
//         -webkit-transition-duration: 0.2s;
//              -o-transition-duration: 0.2s;
//                 transition-duration: 0.2s;
//         -webkit-transition-timing-function: linear;
//              -o-transition-timing-function: linear;
//                 transition-timing-function: linear;
//         -webkit-transform: translate( 0px, 0px);
//             -ms-transform: translate( 0px, 0px);
//                 transform: translate( 0px, 0px);
//     }
//     .title, .text {
//         margin-bottom: 40px;
//     }
//     footer {
//         -webkit-box-orient: vertical;
//         -webkit-box-direction: normal;
//             -ms-flex-direction: column;
//                 flex-direction: column;
//         min-height: 100px
//     }
//   }
//   @media (max-width: 380px) {
//       .subscribe-email {
//           width: 150px;
//       }
//       .back, .team-galery__card-photo, .team-galery__card-img {
//           width: 320px;
//           height: 380px;
//         }
//         .team-galery__card {
//             width: 320px;
//         }
//         .team-galery__card-photo::after {
//             width: 320px;
//             height: 380px;
//         }
//   }