.text {
    text-align: center;
    margin: 0 auto 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    max-width: 960px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}